[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pydicom = "*"
pynetdicom = "*"
dicom2nifti = {editable = true,git = "https://github.com/vsaase/dicom2nifti",ref = "allow_dcmdjpeg"}
aiohttp = "*"
pydcmq = {editable = true,path = "./.."}
pandas = "*"
pymongo = "*"
motor = "*"

[requires]
python_version = "3.8"
